$PRIM_COLOR = #fff
$SEC_COLOR = #6FCF97
$BACK_COLOR = #F1F1F1

.btn
  display inline-block
  font-family Lato
  padding 12px 40px
  font-size 16px
  color $PRIM_COLOR
  border 1px solid $SEC_COLOR
  background $SEC_COLOR
  cursor pointer
  outline none
  transition .2s linear
  &:hover
    background rgba(0,0,0,0)
    color $SEC_COLOR
  &:active
    background $SEC_COLOR
    opacity 0.1

.input
  display inline-block
  font-family Lato
  padding 0 20px
  height 40px
  min-width 300px
  font-size 16px
  color #323232
  border 1px solid #F4F4F4
  box-sizing border-box
  background #F4F4F4
  box-shadow 2px 2px rgba(0, 0, 0, 0.25)
  cursor pointer
  outline none
  transition .2s linear

.title-prim
  float left
  width 100%
  margin-top 5px
  font-size 17px
  font-weight bold
  color $SEC_COLOR
  font-family Laton

.title-sec
  float left
  width 100%
  margin-top 5px
  font-size 17px
  font-weight bold
  color #000
  font-family Laton

@font-face
  font-family 'Lato'
  src url(../assets//fonts/Lato-Light.ttf)
  font-weight normal
  font-style normal

@font-face
  font-family 'Laton'
  src url(../assets//fonts/Lato-Regular.ttf)
  font-weight normal
  font-style normal

h1, h2, h3, h4, h5, h6
  font-family Laton

#app
  font-family Lato
  float left
  width 100%

#main-page
  float left
  width 100%

.wrap
  margin 0 auto
  width 80%
  max-width 1450px
  min-width 1000px
  overflow visible
  &::after
    content ""
    clear: both
    display: table

.main-section
  float left
  width 100%
  position relative
  height 100vh
  min-height 850px
  width 100%
  background url('../assets/main-bg.jpg') center center no-repeat
  background-size cover
  .shadow
    position absolute
    top 0
    left 0
    height 100%
    width 100%
    background rgba(0, 0, 0, 0.35)

.navigation
  float left
  width 100%
  margin-top 50px

.nav-logo
  float left
  width auto
  cursor pointer
  margin-right 340px
  img
    float left
    width auto
    height 40px

.navs
  float left
  display flex
  justify-content space-between
  width calc(100% - 450px)
  height 40px

.nav
  position relative
  width auto
  color $PRIM_COLOR
  font-size 15px
  line-height 40px
  cursor pointer
  &::after
    content ""
    position absolute
    bottom 5px
    left 0
    height 1px
    width 0%
    background $PRIM_COLOR
    transition .2s linear
  &:hover::after
    width 100%

.main-title
  float left
  width 100%
  font-size 54px
  margin-top 270px
  color $PRIM_COLOR
  font-weight bold

.main-text
  float left
  width 100%
  margin-top 25px
  font-size 19px
  line-height 24px
  color $PRIM_COLOR

.main-btn
  float left
  width 100%
  margin-top 70px

.section
  float left
  width 100%
  padding 80px 0

.effectiveness
  &-image
    float left
    width 50%
    margin-top 50px
    img
      width calc(100% - 200px)
      height auto
  &-text
    float left
    width 50%
    margin-top 150px
    p
      float left
      width 100%
      font-size 17px
      margin-bottom 20px
      text-align justify

.functional
  background $BACK_COLOR
  &-blocks
    float left
    width 100%
    margin-top 50px
    display flex
    justify-content space-between
  &-block
    float left
    width 30%
    max-width 300px
    .wrap-img
      text-align center
      img
        display inline-block
        width auto
        height 70px
    h4
      margin 5px 0 20px
      font-weight bold
      font-size 16px
      text-align center
    p
      text-align justify
      font-size 15px
      line-height 18px

.usability
  &-texts
    float left
    width 60%
    p
      float left
      width 100%
      max-width 700px
      margin-top 40px
      font-size 15px
      line-height 17px
  &-img
    float left
    width 40%
    text-align center
    img
      display inline-block
      min-width 200px
      width 100%
      max-width 400px
      height auto

.review
  background $BACK_COLOR
  &-blocks
    float left
    width 100%
    margin-top 50px
    display flex
    justify-content space-between
  &-block
    float left
    width 30%
    max-width 300px
    .wrap-img
      text-align center
      img
        display inline-block
        width auto
        height 200px
    h4
      margin 20px 0
      font-weight bold
      font-size 16px
      text-align center
    h5
      margin 5px 0 20px
      font-weight bold
      font-size 16px
      text-align center
      color $SEC_COLOR
    p
      text-align justify
      font-size 15px
      line-height 18px

.partner
  &-blocks
    float left
    width 100%
    margin-top 50px
    display flex
    justify-content space-between
  &-block
    img
      width 200px
      height auto

$PIE_MARGIN_H = 50px
$PIE_MARGIN_W = 30px

.module
  background $BACK_COLOR
  &-graph
    float left
    width 420px
    margin-top 100px

  .pie
    float left
    width 200px
    height 200px
    margin 5px
    position relative
    cursor pointer
    transition .2s linear
    &:hover
      box-shadow 0px 0px 5px 5px $SEC_COLOR
      opacity 0.8
    &:active
      opacity 0.3
    p
      position absolute
      font-weight bold
      color #fff
      font-size 17px
      transition .2s linear
    &-agroplan
      border-radius 100% 0 0 0
      background #2a69a8
      p

        bottom $PIE_MARGIN_H
        right $PIE_MARGIN_W
    &-agrofact
      border-radius 0 100% 0 0
      background #2aa8a0
      p
        bottom $PIE_MARGIN_H
        left $PIE_MARGIN_W
    &-bz
      border-radius 0 0 0 100%
      background #2aa865
      p
        top $PIE_MARGIN_H
        right $PIE_MARGIN_W
    &-agromap
      border-radius 0 0 100% 0
      background #3ba82a
      p
        top $PIE_MARGIN_H
        left $PIE_MARGIN_W

  &-text
    float left
    width calc(100% - 570px)
    margin 180px 0 0 150px
    line-height 40px
    font-size 16px

.form
  &-block
    float left
    width 100%
    margin-top 70px
  &-inputs
    float left
    width 450px
    text-align center
    input
      width 100%
    .row
      float left
      width 100%
      margin-top 20px
      &-btn
        float left
        width 100%
        margin-top 40px
        text-align center

  &-text
    float left
    width calc(100% - 750px)
    margin-left 300px
    font-size 16px
    line-height 20px
    color #000
    font-weight bold
