$PRIM_COLOR = #fff
$SEC_COLOR = #6FCF97

.btn
  display inline-block
  font-family Lato
  padding 12px 40px
  font-size 16px
  color $PRIM_COLOR
  border 1px solid $SEC_COLOR
  background $SEC_COLOR
  cursor pointer
  outline none
  transition .2s linear
  &:hover
    background rgba(0,0,0,0)
    color $SEC_COLOR

.title-prim
  float left
  width 100%
  margin-top 5px
  font-size 17px
  font-weight bold
  font-family Laton

.title-sec
  float left
  width 100%
  margin-top 5px
  font-size 17px
  font-weight bold
  color $SEC_COLOR
  font-family Laton

@font-face
  font-family 'Lato'
  src url(../assets//fonts/Lato-Light.ttf)
  font-weight normal
  font-style normal

@font-face
  font-family 'Laton'
  src url(../assets//fonts/Lato-Regular.ttf)
  font-weight normal
  font-style normal

#app
  font-family Lato
  float left
  width 100%

#main-page
  float left
  width 100%

.wrap
  margin 0 auto
  width 80%
  max-width 1450px
  min-width 1000px
  overflow visible
  &::after
    content ""
    clear: both
    display: table

.main-section
  float left
  width 100%
  position relative
  height 800px
  width 100%
  background url('../assets/header-bg.png') center center no-repeat
  background-size cover
  .shadow
    position absolute
    top 0
    left 0
    height 100%
    width 100%
    background rgba(0, 0, 0, 0.37)

.navigation
  float left
  width 100%
  margin-top 50px

.nav-logo
  float left
  width auto
  cursor pointer
  margin-right 340px
  img
    float left
    width auto
    height 40px

.navs
  float left
  display flex
  justify-content space-between
  width calc(100% - 450px)
  height 40px

.nav
  position relative
  width auto
  color $PRIM_COLOR
  font-size 15px
  line-height 40px
  cursor pointer
  &::after
    content ""
    position absolute
    bottom 5px
    left 0
    height 1px
    width 0%
    background $PRIM_COLOR
    transition .2s linear
  &:hover::after
    width 100%

.main-title
  float left
  width 100%
  font-size 54px
  margin-top 180px
  color $PRIM_COLOR
  font-weight bold

.main-text
  float left
  width 100%
  margin-top 25px
  font-size 19px
  line-height 24px
  color $PRIM_COLOR

.main-btn
  float left
  width 100%
  margin-top 70px

.effectiveness-section
  float left
  width 100%
  background $PRIM_COLOR
  padding 80px 0
  &-image
    float left
    width 50%
    margin-top 50px
    img
      width calc(100% - 200px)
      height auto
  &-text
    float left
    width 50%
    margin-top 150px
    p
      float left
      width 100%
      font-size 17px
      margin-bottom 20px
      text-align justify
