$PRIM_COLOR = #fff
$SEC_COLOR = #6FCF97
$BACK_COLOR = #F1F1F1

$PIE_MARGIN_H = 50px
$PIE_MARGIN_W = 30px

$PIE_MARGIN_H_MOBILE = 15px
$PIE_MARGIN_W_MOBILE = 10px

#main-page
  float left
  width 100%
  position relative

.btn
  display inline-block
  font-family Lato
  padding 12px 40px
  font-size 16px
  color $PRIM_COLOR
  border 1px solid $SEC_COLOR
  background $SEC_COLOR
  cursor pointer
  outline none
  transition .2s linear
  &:hover
    background rgba(0,0,0,0)
    color $SEC_COLOR
  &:active
    background $SEC_COLOR
    opacity 0.1

.input
  display inline-block
  font-family Lato
  padding 0 20px
  height 40px
  font-size 16px
  color #323232
  border 1px solid #F4F4F4
  box-sizing border-box
  background #F4F4F4
  box-shadow 2px 2px rgba(0, 0, 0, 0.25)
  cursor pointer
  outline none
  transition .2s linear
  &:focus
    background #fcfcfc
    color #000
    border 1px solid #fcfcfc

.wrap-modal
  position fixed
  height 100%
  width 100%
  z-index 3
.modal
  position relative
  margin 150px auto 0
  max-width 500px
  width 100%
  background #fff
  box-sizing border-box
  padding 30px
  overflow visible
  z-index 5
  &::after
    content ""
    clear: both
    display: table
.modal-back
  position absolute
  top 0
  left 0
  height 100%
  width 100%
  background rgba(0,0,0,0.44)
  cursor pointer
  z-index 4

.title-prim
  float left
  width 100%
  margin-top 5px
  font-size 17px
  font-weight bold
  color $SEC_COLOR
  font-family Laton

.title-sec
  float left
  width 100%
  margin-top 5px
  font-size 17px
  font-weight bold
  color #000
  font-family Laton

@font-face
  font-family 'Lato'
  src url(../assets//fonts/Lato-Light.ttf)
  font-weight normal
  font-style normal

@font-face
  font-family 'Laton'
  src url(../assets//fonts/Lato-Regular.ttf)
  font-weight normal
  font-style normal

h1, h2, h3, h4, h5, h6
  font-family Laton

#app
  font-family Lato
  float left
  width 100%

#main-page
  float left
  width 100%

.wrap
  margin 0 auto
  width 80%
  max-width 1450px
  overflow visible
  &::after
    content ""
    clear: both
    display: table

.main-section
  float left
  width 100%
  position relative
  height 100vh
  min-height 850px
  width 100%
  background url('../assets/main-bg.jpg') center center no-repeat
  background-size cover
  .shadow
    position absolute
    top 0
    left 0
    height 100%
    width 100%
    background rgba(0, 0, 0, 0.35)

.navigation
  position absolute
  top 50px
  left 0
  width 100%
  transition .3s linear
  box-sizing border-box
  padding-bottom 10px
  z-index 2
  &.js-active
    position fixed
    top 0
    padding-top 10px
    background rgba(0, 0, 0, 0.55)

.nav-burger
  float left
  display none
  height 40px
  width 35px
  cursor pointer
  position relative

.nav-line
  position absolute
  left 0
  width 100%
  height 2px
  background #fff
  transition .3s linear
  &-1
    top 10px
  &-2
    top 22px
  &-3
    top 33px

.nav-burger.vue-active
  .nav-line
    &-1
      top 22px
      transform rotate(45deg)
    &-2
      left 50px
      opacity 0
    &-3
      top 22px
      transform rotate(-45deg)

.nav-logo
  float left
  width auto
  margin-right 340px
  img
    display inline-block
    width auto
    height 40px

.navs
  float left
  display flex
  justify-content space-between
  width calc(100% - 450px)
  height 40px

.nav
  position relative
  width auto
  color $PRIM_COLOR
  font-size 15px
  line-height 40px
  cursor pointer
  &::after
    content ""
    position absolute
    bottom 5px
    left 0
    height 1px
    width 0%
    background $PRIM_COLOR
    transition .2s linear
  &:hover::after
    width 100%

.main-title
  float left
  width 100%
  font-size 54px
  margin-top 360px
  color $PRIM_COLOR
  font-weight bold

.main-text
  float left
  width 100%
  margin-top 25px
  font-size 19px
  line-height 24px
  color $PRIM_COLOR

.main-btn
  float left
  width 100%
  margin-top 70px

.section
  float left
  width 100%
  padding 80px 0

.effectiveness
  &-image
    float left
    width 50%
    margin-top 50px
    img
      width calc(100% - 200px)
      height auto
  &-text
    float left
    width 50%
    margin-top 150px
    p
      float left
      width 100%
      font-size 17px
      margin-bottom 20px
      text-align justify

.functional
  background $BACK_COLOR
  &-blocks
    float left
    width 100%
    margin-top 50px
    display flex
    justify-content space-between
  &-block
    float left
    width 30%
    max-width 300px
    .wrap-img
      text-align center
      img
        display inline-block
        width auto
        height 70px
    h4
      margin 5px 0 20px
      font-weight bold
      font-size 16px
      text-align center
    p
      text-align justify
      font-size 15px
      line-height 18px

.usability
  &-texts
    float left
    width 60%
    p
      float left
      width 100%
      max-width 700px
      margin-top 40px
      font-size 15px
      line-height 17px
  &-img
    float left
    width 40%
    text-align center
    img
      display inline-block
      min-width 200px
      width 100%
      max-width 400px
      height auto

.review
  background $BACK_COLOR
  &-blocks
    float left
    width 100%
    margin-top 50px
    display flex
    justify-content space-between
  &-block
    float left
    width 30%
    max-width 300px
    .wrap-img
      text-align center
      img
        display inline-block
        width auto
        height 200px
    h4
      margin 20px 0
      font-weight bold
      font-size 16px
      text-align center
    h5
      margin 5px 0 20px
      font-weight bold
      font-size 16px
      text-align center
      color $SEC_COLOR
    p
      text-align justify
      font-size 15px
      line-height 18px

.partner
  &-blocks
    float left
    width 100%
    margin-top 50px
    display flex
    justify-content space-between
  &-block
    img
      width 200px
      height auto

.module
  background $BACK_COLOR
  &-graph
    float left
    width 420px
    margin-top 100px

  .pie
    float left
    width 200px
    height 200px
    margin 5px
    position relative
    cursor pointer
    transition .2s linear
    &:hover
      box-shadow 0px 0px 5px 5px $SEC_COLOR
      opacity 0.8
    &:active
      opacity 0.3
    p
      position absolute
      font-weight bold
      color #fff
      font-size 17px
      transition .2s linear
    &-agroplan
      border-radius 100% 0 0 0
      background #2a69a8
      p

        bottom $PIE_MARGIN_H
        right $PIE_MARGIN_W
    &-agrofact
      border-radius 0 100% 0 0
      background #2aa8a0
      p
        bottom $PIE_MARGIN_H
        left $PIE_MARGIN_W
    &-bz
      border-radius 0 0 0 100%
      background #2aa865
      p
        top $PIE_MARGIN_H
        right $PIE_MARGIN_W
    &-agromap
      border-radius 0 0 100% 0
      background #3ba82a
      p
        top $PIE_MARGIN_H
        left $PIE_MARGIN_W

  &-text
    float left
    width calc(100% - 650px)
    margin 160px 0 0 230px
    h5
      float left
      width 100%
      font-size 20px
      letter-spacing 5px
      margin-bottom 40px
      font-weight bold
    p
      float left
      width 100%
      line-height 33px
      font-size 16px

.form
  &-block
    float left
    width 100%
    margin-top 70px
  &-inputs
    float left
    max-width 450px
    width 100%
    text-align center
    input
      width 100%
    .row
      float left
      width 100%
      margin-top 20px
      &-btn
        float left
        width 100%
        margin-top 40px
        text-align center

  &-text
    float left
    width calc(100% - 650px)
    margin-left 200px
    font-size 16px
    line-height 20px
    color #000
    font-weight bold

.footer
  color #fff
  background #515151
  .footer-navigation
    float left
    width 100%
    display flex
    justify-content space-between
    .footer-nav
      float left
      width auto
      img
        float left
        height 40px
        width auto
        margin-right 20px
      span
        float left
        width auto
        font-size 16px
        line-height 40px
      p
        float left
        width auto
        position relative
        font-size 16px
        line-height 40px
        cursor pointer
        &:after
          content ""
          position absolute
          bottom 5px
          left 0px
          width 0
          height 1px
          background #fff
          transition .2s linear
        &:hover:after
          width 100%
  .footer-contacts
    float left
    width 100%
    margin-top 55px
    font-size 15px
    line-height 24px
    &-left
      float left
      width auto
    &-right
      float right
      width auto
      text-align right

@media only screen and (max-width : 1600px)
  .effectiveness-text
    margin-top 80px

@media only screen and (max-width : 1300px)
  .wrap
    width calc(100% - 80px)
  .effectiveness-image img
    width 80%
  .module-text
    width calc(100% - 540px)
    margin 160px 0 0 120px

@media only screen and (max-width : 1000px)
  .section
    padding 50px 0
  .wrap
    width calc(100% - 40px)

  .nav-logo
    margin-right 40px
  .navs
    width calc(100% - 81px)
  .nav
    font-size 13px

  .main-section
    min-height 600px
    height 100vh
    max-height 700px
    text-align center
  .main-title
    font-size 34px
    margin-top 220px
  .main-text
    font-size 16px
  .main-btn
    margin-top 30px

  .effectiveness-text
    width 100%
    margin-top 20px
  .effectiveness-image
    margin-top 30px
    width 100%
    text-align center
    img
      max-width 400px

  .functional-blocks
    display block
  .functional-block
    margin 15px 0
    width 100%
    max-width none

  .usability-texts
    width 100%
  .usability-img
    margin-top 50px
    width 100%
    text-align center

  .review-blocks
    display block
  .review-block
    margin 20px 0
    width 100%
    max-width none

  .partner-blocks
    display block
  .partner-block
    float left
    margin 30px 0
    width 50%
    text-align center

  .module-graph
    float none
    margin 0 auto
  .module-text
    text-align center
    width 100%
    margin 30px 0 0

  .form-text
    width calc(100% - 500px)
    margin-left 50px

@media only screen and (max-width : 850px)
  .form-block
    margin-top 20px
  .form-inputs
    width 100%
  .form-text
    float left
    width 100%
    text-align center
    margin 30px 0 0

  .footer
    .footer-navigation
      display block
      .footer-nav
        width 100%
        text-align center
        p, img, span
          display inline-block
          float none
        span
          margin-right 55px
    .footer-contacts
      margin-top 15px
    .footer-contacts-left, .footer-contacts-right
      width 100%
      text-align center

@media only screen and (max-width : 800px)
  .nav-burger
    display block
  .nav-logo
    width calc(100% - 80px)
    margin 0
    text-align center
  .navs
    display none
    position absolute
    top 62px
    left 0
    width 100%
    background rgba(0, 0, 0, 0.55)
    height auto
    z-index 6
    &.vue-active
      display block
  .nav
    text-align center
    width 100%
    padding-right 10px
    box-sizing border-box
    &:hover::after
      width 0%

@media only screen and (max-width : 600px)
  .partner-block
    width 100%
    margin 20px 0
  #partner-block-atameken
    margin 0
  .modal
    max-width none

@media only screen and (max-width : 500px)
  .module
    &-graph
      width 280px
    .pie
      width 130px
      height 130px
      margin 5px
      p
        font-size 13px
      &-agroplan
        p
          bottom $PIE_MARGIN_H_MOBILE
          right $PIE_MARGIN_W_MOBILE
      &-agrofact
        p
          bottom $PIE_MARGIN_H_MOBILE
          left $PIE_MARGIN_W_MOBILE
      &-bz
        p
          top $PIE_MARGIN_H_MOBILE
          right $PIE_MARGIN_W_MOBILE
      &-agromap
        p
          top $PIE_MARGIN_H_MOBILE
          left $PIE_MARGIN_W_MOBILE

    .module-text
      h5
        margin-bottom 15px
      p
        line-height 22px
